<div class="wrapper">
  <form>
    <div class="container main">
      <div class="row">

        <div class="col-md-6 side-image">

        </div>

        <h1>LOGIN</h1>

        <div>
          <input type="text" name="User" placeholder="Usuario" class="form-label"/>
        </div>

        <div>
          <input type="password" name="password" placeholder="Password" class="form-label"/>
        </div>

        <div>
          <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
      </div>

    </div>
  </form>
</div>
